USE [QLBanHang]
GO
/****** Object:  Table [dbo].[CHITIETHOADONBANHANG]    Script Date: 12/12/2020 7:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONBANHANG](
	[MACHITIETHDBH] [nvarchar](50) NOT NULL,
	[MAMATHANG] [nvarchar](50) NOT NULL,
	[MAHOADONBANHANG] [nvarchar](50) NOT NULL,
	[DONGIABAN] [float] NULL,
	[SOLUONGBAN] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUGIAOHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUGIAOHANG](
	[MACHITIETPGH] [nvarchar](50) NOT NULL,
	[MAPHIEUGIAOHANG] [nvarchar](50) NOT NULL,
	[MACHITIETHDBH] [nvarchar](50) NOT NULL,
	[SOLUONGGIAO] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[MACHITIETPGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUAHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUAHANG](
	[MACHITIETPMH] [nvarchar](50) NOT NULL,
	[MAPHIEUMUAHANG] [nvarchar](50) NOT NULL,
	[MAMATHANG] [nvarchar](50) NOT NULL,
	[DONGIANHAP] [float] NULL,
	[SOLUONGMUA] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPHANG](
	[MACHITIETPNH] [nvarchar](50) NOT NULL,
	[MAPHIEUNHAPHANG] [nvarchar](50) NOT NULL,
	[MACHITIETPMH] [nvarchar](50) NOT NULL,
	[SOLUONGNHAP] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MACHITIETPNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIABAN]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIABAN](
	[MADONGIABAN] [nvarchar](50) NOT NULL,
	[MAMATHANG] [nvarchar](50) NOT NULL,
	[DONGIABAN] [float] NULL,
	[NGAYTHAYDOI] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONBANHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBANHANG](
	[MAHOADONBANHANG] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[NGAYBAN] [datetime] NULL,
	[THUE] [int] NULL,
	[TONGTIEN] [float] NULL,
	[THANHTOAN] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIMATHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMATHANG](
	[MALOAIMATHANG] [nvarchar](50) NOT NULL,
	[TENLOAIMATHANG] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MAMANHINH] [nvarchar](50) NOT NULL,
	[TENMANHINH] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAMATHANG] [nvarchar](50) NOT NULL,
	[MALOAIMATHANG] [nvarchar](50) NOT NULL,
	[MANHACUNGCAP] [nvarchar](50) NOT NULL,
	[TENMATHANG] [nvarchar](50) NULL,
	[SOLUONGTON] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[THOIGIANBAOHANH] [nvarchar](50) NULL,
	[MOTA] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[MANHOM] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [nvarchar](50) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[CMND] [int] NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[QUEQUAN] [nvarchar](100) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
	[DIACHITHUONGTRU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOM] [nvarchar](50) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPHANQUYEN] [nvarchar](50) NOT NULL,
	[MANHOM] [nvarchar](50) NOT NULL,
	[MAMANHINH] [nvarchar](50) NOT NULL,
	[QUYEN] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUGIAOHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAOHANG](
	[MAPHIEUGIAOHANG] [nvarchar](50) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[NGAYGIAO] [datetime] NULL,
	[LANGIAO] [int] NULL,
	[TONGTIEN] [float] NULL,
	[THANHTOAN] [float] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUMUAHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUAHANG](
	[MAPHIEUMUAHANG] [nvarchar](50) NOT NULL,
	[MANHACUNGCAP] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[NGAYDATMUA] [datetime] NULL,
	[NGAYNHAPDUKIEN] [datetime] NULL,
	[THUE] [int] NULL,
	[TONGTIEN] [float] NULL,
	[THANHTOAN] [float] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPHIEUNHAPHANG] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[LANNHAP] [int] NULL,
	[NGAYNHAPHANG] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[THANHTOAN] [float] NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADONBANHANG] ([MACHITIETHDBH], [MAMATHANG], [MAHOADONBANHANG], [DONGIABAN], [SOLUONGBAN]) VALUES (N'CTHD331', N'MH02', N'HD33', 250000, 4)
INSERT [dbo].[CHITIETHOADONBANHANG] ([MACHITIETHDBH], [MAMATHANG], [MAHOADONBANHANG], [DONGIABAN], [SOLUONGBAN]) VALUES (N'CTHD333', N'MH04', N'HD33', 1600000, 4)
INSERT [dbo].[CHITIETHOADONBANHANG] ([MACHITIETHDBH], [MAMATHANG], [MAHOADONBANHANG], [DONGIABAN], [SOLUONGBAN]) VALUES (N'CTHD332', N'MH01', N'HD33', 500000, 8)
INSERT [dbo].[CHITIETPHIEUMUAHANG] ([MACHITIETPMH], [MAPHIEUMUAHANG], [MAMATHANG], [DONGIANHAP], [SOLUONGMUA]) VALUES (N'PM0312', N'PM01', N'MH01', 150000, 2)
INSERT [dbo].[CHITIETPHIEUMUAHANG] ([MACHITIETPMH], [MAPHIEUMUAHANG], [MAMATHANG], [DONGIANHAP], [SOLUONGMUA]) VALUES (N'PM0313', N'PM01', N'MH03', 160000, 22)
INSERT [dbo].[CHITIETPHIEUMUAHANG] ([MACHITIETPMH], [MAPHIEUMUAHANG], [MAMATHANG], [DONGIANHAP], [SOLUONGMUA]) VALUES (N'PM0413', N'PM02', N'MH03', 150000, 9)
INSERT [dbo].[CHITIETPHIEUNHAPHANG] ([MACHITIETPNH], [MAPHIEUNHAPHANG], [MACHITIETPMH], [SOLUONGNHAP]) VALUES (N'CTPN011', N'PN01', N'PM0312', 9)
INSERT [dbo].[CHITIETPHIEUNHAPHANG] ([MACHITIETPNH], [MAPHIEUNHAPHANG], [MACHITIETPMH], [SOLUONGNHAP]) VALUES (N'CTPN012', N'PN01', N'PM0313', 9)
INSERT [dbo].[CHITIETPHIEUNHAPHANG] ([MACHITIETPNH], [MAPHIEUNHAPHANG], [MACHITIETPMH], [SOLUONGNHAP]) VALUES (N'CTPN021', N'PN02', N'PM0313', 9)
INSERT [dbo].[GIABAN] ([MADONGIABAN], [MAMATHANG], [DONGIABAN], [NGAYTHAYDOI]) VALUES (N'GB10', N'MH01', 160000, CAST(N'2020-11-30 00:00:00.000' AS DateTime))
INSERT [dbo].[GIABAN] ([MADONGIABAN], [MAMATHANG], [DONGIABAN], [NGAYTHAYDOI]) VALUES (N'GB11', N'MH02', 210000, CAST(N'2020-11-30 00:00:00.000' AS DateTime))
INSERT [dbo].[GIABAN] ([MADONGIABAN], [MAMATHANG], [DONGIABAN], [NGAYTHAYDOI]) VALUES (N'GB09', N'MH04', 500000, CAST(N'2020-11-30 00:00:00.000' AS DateTime))
INSERT [dbo].[HOADONBANHANG] ([MAHOADONBANHANG], [MANHANVIEN], [MAKHACHHANG], [NGAYBAN], [THUE], [TONGTIEN], [THANHTOAN]) VALUES (N'HD28', N'NV01', N'KH01', CAST(N'2016-06-20 21:30:00.957' AS DateTime), 0, 63250000, 0)
INSERT [dbo].[HOADONBANHANG] ([MAHOADONBANHANG], [MANHANVIEN], [MAKHACHHANG], [NGAYBAN], [THUE], [TONGTIEN], [THANHTOAN]) VALUES (N'HD29', N'NV01', N'KH01', CAST(N'2016-06-20 21:30:38.637' AS DateTime), 10, 39765000, 0)
INSERT [dbo].[HOADONBANHANG] ([MAHOADONBANHANG], [MANHANVIEN], [MAKHACHHANG], [NGAYBAN], [THUE], [TONGTIEN], [THANHTOAN]) VALUES (N'HD30', N'NV01', N'KH03', CAST(N'2020-11-25 19:25:59.523' AS DateTime), 0, 2650000, 0)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [EMAIL], [DIACHI]) VALUES (N'KH01', N'Khách Lẻ', CAST(N'2001-01-01' AS Date), N'', N'', N'', N'')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [EMAIL], [DIACHI]) VALUES (N'KH02', N'Nguyễn Văn Toán', CAST(N'2016-05-12' AS Date), N'Nam', N'01632344546', N'vantoan@gmail.com', N'1 Lê Trọng Tấn qTân Bình TpHCM')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [NGAYSINH], [GIOITINH], [SODIENTHOAI], [EMAIL], [DIACHI]) VALUES (N'KH03', N'Võ Văn Ngân', CAST(N'1993-09-09' AS Date), N'Nữ', N'01232543654', N'vantoan@gmail.com', N'145 Tây Thạnh qTân Bình TpHCM')
INSERT [dbo].[LOAIMATHANG] ([MALOAIMATHANG], [TENLOAIMATHANG]) VALUES (N'LH01', N'Bàn')
INSERT [dbo].[LOAIMATHANG] ([MALOAIMATHANG], [TENLOAIMATHANG]) VALUES (N'LH02', N'Ghế')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'MH01', N'Quản Lý Thông Tin Khách Hàng')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'MH02', N'Lập Hóa Đơn Bán Hàng')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'MH03', N'Lập Phiếu Giao Hàng')
INSERT [dbo].[MATHANG] ([MAMATHANG], [MALOAIMATHANG], [MANHACUNGCAP], [TENMATHANG], [SOLUONGTON], [DONVITINH], [THOIGIANBAOHANH], [MOTA]) VALUES (N'MH01', N'LH02', N'NC01', N'Ghế Giám Đốc', 116, N'Cái', N'3 Tháng', N'Không')
INSERT [dbo].[MATHANG] ([MAMATHANG], [MALOAIMATHANG], [MANHACUNGCAP], [TENMATHANG], [SOLUONGTON], [DONVITINH], [THOIGIANBAOHANH], [MOTA]) VALUES (N'MH02', N'LH02', N'NC01', N'Ghế Họp', 106, N'Cái', N'3 Tháng', N'Không')
INSERT [dbo].[MATHANG] ([MAMATHANG], [MALOAIMATHANG], [MANHACUNGCAP], [TENMATHANG], [SOLUONGTON], [DONVITINH], [THOIGIANBAOHANH], [MOTA]) VALUES (N'MH03', N'LH01', N'NC01', N'Bàn Giám Đốc', 337, N'Chiếc', N'3 Tháng', N'Không')
INSERT [dbo].[NGUOIDUNG] ([TENDANGNHAP], [MANHANVIEN], [MANHOM], [MATKHAU]) VALUES (N'admin', N'NV01', N'MN01', N'123')
INSERT [dbo].[NGUOIDUNG] ([TENDANGNHAP], [MANHANVIEN], [MANHOM], [MATKHAU]) VALUES (N'xuananh2020', N'NV06', N'MN02', N'2020')
INSERT [dbo].[NGUOIDUNG] ([TENDANGNHAP], [MANHANVIEN], [MANHOM], [MATKHAU]) VALUES (N'nguyenanhvien', N'NV03', N'MN03', N'12345678')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SODIENTHOAI], [DIACHI], [EMAIL]) VALUES (N'NC01', N'Công Ty MVT Tân Tiến', N'08887573512', N'56 Lê Lai Q1 tpHCM', N'tantien1990@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SODIENTHOAI], [DIACHI], [EMAIL]) VALUES (N'NC02', N'Công ty Minh Tấn', N'0988772321', N'67 Sơn kỳ QTân Phú tpHCM', N'minhtan@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [CMND], [SODIENTHOAI], [EMAIL], [QUEQUAN], [CHUCVU], [NGAYVAOLAM], [DIACHITHUONGTRU]) VALUES (N'NV01', N'Kiều Minh Tấn', CAST(N'1990-03-17 00:00:00.000' AS DateTime), N'Nữ', 234234234, N'0982314134', N'minhtanhufi@gmail.com', N'Long An', N'Quản Lý', CAST(N'2020-11-30' AS Date), N'22 CMT8 Q,Tân Bình TpHCM')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [CMND], [SODIENTHOAI], [EMAIL], [QUEQUAN], [CHUCVU], [NGAYVAOLAM], [DIACHITHUONGTRU]) VALUES (N'NV02', N'Châu Khải Phong', CAST(N'1991-03-06 00:00:00.000' AS DateTime), N'Nam', 467678886, N'01658691231', N'khaiphong@gmail.com', N'Bình Dương', N'Bán Hàng', CAST(N'2020-11-30' AS Date), N'127 Trần Xuân Soạn Q7 TpHCM')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [CMND], [SODIENTHOAI], [EMAIL], [QUEQUAN], [CHUCVU], [NGAYVAOLAM], [DIACHITHUONGTRU]) VALUES (N'NV03', N'Nguyễn Ánh Viên', CAST(N'1993-05-05 00:00:00.000' AS DateTime), N'Nam', 345547867, N'0988232131', N'anhvien@gmail.com', N'Bình Thuận', N'Bán Hàng', CAST(N'2020-11-30' AS Date), N'22 Huỳnh Tấn Phát Q,7 TpHCM')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'MN01', N'Admin', N'Quản Lý ')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'MN02', N'Nhân Viên Bán Hàng', N'Bán Hàng ')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'MN03', N'Nhân Viên Thủ Kho', N' Mua-Nhập Hàng')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [MANHOM], [MAMANHINH], [QUYEN]) VALUES (N'MQ01', N'MN01', N'MH01', 1)
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [MANHOM], [MAMANHINH], [QUYEN]) VALUES (N'MQ02', N'MN01', N'MH02', 1)
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [MANHOM], [MAMANHINH], [QUYEN]) VALUES (N'MQ03', N'MN01', N'MH03', 1)
INSERT [dbo].[PHIEUMUAHANG] ([MAPHIEUMUAHANG], [MANHACUNGCAP], [MANHANVIEN], [NGAYDATMUA], [NGAYNHAPDUKIEN], [THUE], [TONGTIEN], [THANHTOAN], [GHICHU]) VALUES (N'PM03', N'NC01', N'NV01', CAST(N'2020-11-26 18:37:54.203' AS DateTime), CAST(N'2020-11-26 18:37:47.490' AS DateTime), NULL, 99999, 0, N'')
INSERT [dbo].[PHIEUMUAHANG] ([MAPHIEUMUAHANG], [MANHACUNGCAP], [MANHANVIEN], [NGAYDATMUA], [NGAYNHAPDUKIEN], [THUE], [TONGTIEN], [THANHTOAN], [GHICHU]) VALUES (N'PM04', N'NC01', N'NV01', CAST(N'2020-11-26 18:38:50.247' AS DateTime), CAST(N'2020-11-26 18:38:44.327' AS DateTime), NULL, 66666, 0, N'')
INSERT [dbo].[PHIEUMUAHANG] ([MAPHIEUMUAHANG], [MANHACUNGCAP], [MANHANVIEN], [NGAYDATMUA], [NGAYNHAPDUKIEN], [THUE], [TONGTIEN], [THANHTOAN], [GHICHU]) VALUES (N'PM05', N'NC01', N'NV01', CAST(N'2020-11-26 18:46:54.047' AS DateTime), CAST(N'2020-11-26 18:46:48.777' AS DateTime), NULL, 111111, 0, N'')
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAPHANG], [MANHANVIEN], [LANNHAP], [NGAYNHAPHANG], [TONGTIEN], [THANHTOAN], [GHICHU]) VALUES (N'PN01', N'NV01', 1, CAST(N'2020-12-01 18:16:02.940' AS DateTime), 2790000, 0, N'')
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAPHANG], [MANHANVIEN], [LANNHAP], [NGAYNHAPHANG], [TONGTIEN], [THANHTOAN], [GHICHU]) VALUES (N'PN02', N'NV01', 1, CAST(N'2020-12-01 18:16:47.817' AS DateTime), 2790000, 0, N'')
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAPHANG], [MANHANVIEN], [LANNHAP], [NGAYNHAPHANG], [TONGTIEN], [THANHTOAN], [GHICHU]) VALUES (N'PN03', N'NV01', 2, CAST(N'2020-12-01 18:17:17.497' AS DateTime), 2790000, 0, N'')
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHITIETHOADONBANHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[CHITIETHOADONBANHANG] ADD  CONSTRAINT [PK_CHITIETHOADONBANHANG] PRIMARY KEY NONCLUSTERED 
(
	[MACHITIETHDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHITIETPHIEUMUAHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[CHITIETPHIEUMUAHANG] ADD  CONSTRAINT [PK_CHITIETPHIEUMUAHANG] PRIMARY KEY NONCLUSTERED 
(
	[MACHITIETPMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_GIABAN]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[GIABAN] ADD  CONSTRAINT [PK_GIABAN] PRIMARY KEY NONCLUSTERED 
(
	[MADONGIABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADONBANHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[HOADONBANHANG] ADD  CONSTRAINT [PK_HOADONBANHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAHOADONBANHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOAIMATHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[LOAIMATHANG] ADD  CONSTRAINT [PK_LOAIMATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MALOAIMATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_MANHINH]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[MANHINH] ADD  CONSTRAINT [PK_MANHINH] PRIMARY KEY NONCLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_MATHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAMATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NGUOIDUNG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHACUNGCAP]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHOMNGUOIDUNG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[NHOMNGUOIDUNG] ADD  CONSTRAINT [PK_NHOMNGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHANQUYEN]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[PHANQUYEN] ADD  CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY NONCLUSTERED 
(
	[MAPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUGIAOHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[PHIEUGIAOHANG] ADD  CONSTRAINT [PK_PHIEUGIAOHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUGIAOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUMUAHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[PHIEUMUAHANG] ADD  CONSTRAINT [PK_PHIEUMUAHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUMUAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUNHAPHANG]    Script Date: 12/12/2020 7:06:08 PM ******/
ALTER TABLE [dbo].[PHIEUNHAPHANG] ADD  CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUNHAPHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CO11_MATHANG] FOREIGN KEY([MAMATHANG])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[CHITIETHOADONBANHANG] CHECK CONSTRAINT [FK_CHITIETH_CO11_MATHANG]
GO
ALTER TABLE [dbo].[CHITIETHOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CO323_HOADONBA] FOREIGN KEY([MAHOADONBANHANG])
REFERENCES [dbo].[HOADONBANHANG] ([MAHOADONBANHANG])
GO
ALTER TABLE [dbo].[CHITIETHOADONBANHANG] CHECK CONSTRAINT [FK_CHITIETH_CO323_HOADONBA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_CHITIETH] FOREIGN KEY([MACHITIETHDBH])
REFERENCES [dbo].[CHITIETHOADONBANHANG] ([MACHITIETHDBH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAOHANG] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_CHITIETH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUGIA] FOREIGN KEY([MAPHIEUGIAOHANG])
REFERENCES [dbo].[PHIEUGIAOHANG] ([MAPHIEUGIAOHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAOHANG] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUGIA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_MATHANG] FOREIGN KEY([MAMATHANG])
REFERENCES [dbo].[MATHANG] ([MAMATHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUAHANG] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_MATHANG]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUMUA] FOREIGN KEY([MAPHIEUMUAHANG])
REFERENCES [dbo].[PHIEUMUAHANG] ([MAPHIEUMUAHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUAHANG] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUMUA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_CHITIETP] FOREIGN KEY([MACHITIETPMH])
REFERENCES [dbo].[CHITIETPHIEUMUAHANG] ([MACHITIETPMH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_CHITIETP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA] FOREIGN KEY([MAPHIEUNHAPHANG])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAPHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBA_LAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HOADONBA_LAP_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBA_NHAN_KHACHHAN] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HOADONBA_NHAN_KHACHHAN]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_CUNG_CAP_NHACUNGC] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_CUNG_CAP_NHACUNGC]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_THUOC_LOAIMATH] FOREIGN KEY([MALOAIMATHANG])
REFERENCES [dbo].[LOAIMATHANG] ([MALOAIMATHANG])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_THUOC_LOAIMATH]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUN_RELATIONS_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUN_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUN_RELATIONS_NHOMNGUO] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUN_RELATIONS_NHOMNGUO]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_MANHINH] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_MANHINH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_NHOMNGUO] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_NHOMNGUO]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIA_LAP3_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK_PHIEUGIA_LAP3_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIA_RELATIONS_KHACHHAN] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK_PHIEUGIA_RELATIONS_KHACHHAN]
GO
ALTER TABLE [dbo].[PHIEUMUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUA_ERTYUIOP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUMUAHANG] CHECK CONSTRAINT [FK_PHIEUMUA_ERTYUIOP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUMUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUA_THUOCWWWW_NHACUNGC] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[PHIEUMUAHANG] CHECK CONSTRAINT [FK_PHIEUMUA_THUOCWWWW_NHACUNGC]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN]
GO
